@font-face {
    font-family: 'Krona One';
    src: url(../Fonts/Krona-One-Regular.ttf);
}

*{
    -krona-one: 'Krona One';
    -primary-color: #B8ACFF;
    -secondary-color: #D0C9FF;
    -tertiary-color: #000119;
    -light-grey-color: #C8C8C8;
    -light-grey-secondary:#dbdbdb;
    -focus-color: -secondary-color;
    -red-color: #f27979;
    -red-color-secondary: #ff9c9c;

    -white-smoke :  #F4F4F4;
    -modifier-smoke: #b8b8b8;
    -white : #ffffff;
    -text-fill: -tertiary-color;
    -text-fill-smoke: #8f8d8d;
    -border: #7A7A7A;
    -border-focus: -primary-color;
}

/**
==================================== ADMINPAGE ==============================================================================
 */

.anchorpane {
    -fx-background-color: -tertiary-color;
}

.adminpage-base {
   -fx-background-color: -tertiary-color;
}

.statumun-title{
    -fx-font-family: 'Krona One';
    -fx-text-fill: -white-smoke;
    -fx-font-size: 16;
}

.dashboard {
    -fx-background-color: -tertiary-color;
}

.working {
    -fx-background-color: -white-smoke;
    -fx-background-radius: 43;
}

.dashboard-button {
    -fx-background-color: -tertiary-color;
    -fx-font-family: 'Krona One';
    -fx-font-size: 14;
    -fx-text-fill: -white;
    -fx-min-height: 71;
    -fx-max-width: 255;
    -fx-background-radius: 20;
    -fx-cursor: hand;
}

.dashboard-button:hover {
    -fx-background-color: -secondary-color;
}

.dashboard-button:armed {
    -fx-background-color: -primary-color;
}

.dashboard-button-main {
    -fx-background-color: -primary-color;
}

.dashboard-button-deconnexion:hover {
    -fx-background-color: -red-color-secondary;
}

.dashboard-button-deconnexion:armed {
    -fx-background-color: -red-color;
}

.user-box {
    -fx-background-radius: 43;
    -fx-background-color: -white;
}

.toolbar-button{
    -fx-pref-width: 245;
    -fx-min-height: 60;
    -fx-background-color: -primary-color;
    -fx-background-radius: 43;
    -fx-background-insets: 0;
    -fx-font-family: 'Krona One';
    -fx-font-size: 14;
    -fx-cursor: hand;
    -fx-text-fill: -white;
}

.toolbar-button:hover{
    -fx-background-color: -secondary-color;
}

.toolbar-button:armed{
    -fx-background-color: -primary-color;
}

/** TABLE VIEW **/

.table-view {
	-fx-border-color: transparent;
	-fx-background-color: -white;
	-fx-background-radius: 43;
    -fx-table-cell-border-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: -tertiary-color;
    -fx-background-radius: 20 20 0 0;
    -fx-border-color: -white;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: -white;
    -fx-font-family: 'Krona One';
    -fx-font-size: 14;
    -fx-padding: 10;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-font-family: 'Krona One';
    -fx-text-fill: -white;
    -fx-padding: 10 5 10 5;
}

.table-row-cell {
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: -tertiary-color;
    -fx-background-color: -white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}


.table-row-cell .label {
    -fx-font-family: 'Krona One';
    -fx-font-size: 11;
}


.table-row-cell:selected {
    -fx-background-color: -primary-color;
}

.table-row-cell:empty {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 0 0;
}

.table-row-cell:filled:hover {
    -fx-background-color: -secondary-color;
}
.table-row-cell:filled:selected {
    -fx-background-color: -primary-color;
}

.table-view .placeholder .label {
    -fx-text-fill: -primary-color;
    -fx-padding:20px;
}

.table-row-cell:filled .table-cell {
    -fx-text-fill: -tertiary-color;
}

.table-row-cell:filled:selected .table-cell {
    -fx-text-fill: -tertiary-color;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.table-view .filler{
    -fx-background-color: transparent;
}

.add-button{
    -fx-pref-width: 100;
    -fx-min-height: 60;
    -fx-background-color: -primary-color;
    -fx-background-radius: 43;
    -fx-background-insets: 0;
    -fx-font-family: 'Krona One';
    -fx-font-size: 14;
    -fx-cursor: hand;
    -fx-text-fill: -white;
}

.add-button:hover{
    -fx-background-color: -secondary-color;
}

.add-button:armed{
    -fx-background-color: -primary-color;
}

.inputs-add-user {
        -fx-font-family: 'Krona One';
        -fx-min-height: 60;
        -fx-max-width: 250;
        -fx-background-color: -white-smoke;
        -fx-background-radius: 43;
        -fx-background-insets: 0, 0 0 1 0;
        -fx-font-size: 10;
        -fx-text-fill: -text-fill;
        -fx-padding: 20;
}

.inputs-add-user:hover{
    -fx-border-color: -border-focus;
    -fx-border-radius: 43;
    -fx-background-color: -white;
}

.inputs-add-user:focused{
    -fx-border-color: -border-focus;
    -fx-border-radius: 43;
    -fx-background-color: -white;
}

.delete-button {
    -fx-pref-width: 100;
    -fx-min-height: 35;
    -fx-background-color: -red-color;
    -fx-background-radius: 43;
    -fx-background-insets: 0;
    -fx-font-family: 'Krona One';
    -fx-font-size: 10;
    -fx-cursor: hand;
    -fx-text-fill: -white;
}

.delete-button:hover {
    -fx-background-color: -red-color-secondary;
}

.delete-button:armed {
    -fx-background-color: -red-color;
}